html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-size: 1.0em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*
	color: rgb(61, 61, 61); 
	*/
	color: rgb(223, 223, 223);
	background: linear-gradient(red, yellow);
	background: -webkit-repeating-linear-gradient(rgb(190, 190, 190), rgba(0, 0, 0));

	/*
		color: rgb(61, 61, 61); 
	background-color: rgb(226, 226, 226);
	*/
}

testing123 {
	background: rgba(0, 0, 0, 0.9);
}

/*navigation*/
#about-me{
	padding: 20px; /*padding 20px looks best when we scroll to the #'s*/
}
#resume{
	padding: 20px;
}
#projects{
	padding: 20px;
}
#contact{
	padding: 20px;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 350; 
}
h1 { font-size: 2.0rem; line-height: 1.2; }
h2 { font-size: 1.8rem; line-height: 1.25;}
h3 { font-size: 1.6rem; line-height: 1.3;}
h4 { font-size: 1.4rem; line-height: 1.35;}
h5 { font-size: 1.2rem; line-height: 1.5;}
h6 { font-size: 1.0rem; line-height: 1.6;}


p {
	margin-top: 0; 
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #1EAEDB; 
}
a:hover {
	color: #0FA0CE; 
}

img {
	width: 100%;
	height: auto;
}

section {
	margin: 10rem auto;
}

button {
	background-color: #000;
	border: none;
	border-radius: 3px;
	color: #fff;
	height: auto;
	padding: 8px 37px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 0.8rem;
}


button:hover, button:focus {
	background-color: #fff;
	color: #000;
}

button.light {
	background-color: #fff;
	color: #000;
}

button.light:hover, button.light:focus {
	background-color: #000;
	color: #fff;
}

.margin-bottom {
	margin-bottom: 5rem;
}

.margin-bottom-small {
	margin-bottom: 1rem;
}

.padding-small {
	padding: 1rem;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
}

.section-title {
	margin-bottom: 70px;
	text-transform: uppercase;
}


.flex {display: flex;}


.navigation-bar {
	position: absolute;
	z-index: 999;
	width: 100%;
}

.navigation-bar .logo{
	max-width: 30px;
	display: inline-block;
	padding: 1rem;
}

.navigation-bar nav{
	display: inline-block;
	width: 100%;
}


.navigation-bar nav ul li{
	display: inline-block;
}

.navigation-bar nav a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-right: 1rem;
}


.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-color: rgba(0,0,0,1);
	color: rgb(255, 255, 255); /* was white */
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .7)), url('../img/frontpic2.JPG');
}
@keyframes heroImgAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero h1 {
	margin: 0;
	opacity: .9;
}


.hero-text {
	padding: 0px; 
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.hero-text p {
	margin: 0;
	opacity: .7;
}

.highlight {
	font-style: italic;
}

.author {
	font-size: 0.8rem; 
}

.team .team-name {
	text-align: center;
}

.team .team-name .position{
	opacity: .7;
}

.team .team-icon {
	max-width: 16px;
}

/*SOCIALS*/
.iconGit{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 8s;
	animation-fill-mode: forwards;
}
.iconGit:hover{
    content: url('../img/socials/githubHov.svg');
}
.iconLinked{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 8.1s;
	animation-fill-mode: forwards;
}
.iconLinked:hover{
    content: url('../img/socials/linkedinHov.svg');
}
.iconYoutube{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 8.2s;
	animation-fill-mode: forwards;
}
.iconYoutube:hover{
    content: url('../img/socials/youtubeHov.svg');
}
.iconMail{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 8.3s;
	animation-fill-mode: forwards;
}
.iconMail:hover{
    content: url('../img/socials/mailHov.svg');
}
.iconPhone{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 8.4s;
	animation-fill-mode: forwards;
}
.iconPhone:hover{
    content: url('../img/socials/phoneHov.svg');
}
.iconText{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 8.5s;
	animation-fill-mode: forwards;
}
.iconText:hover{
	content: url('../img/socials/textHov.svg');
}

.iconGitWhite:hover{
	content: url('../img/socials/githubWhite.svg');
}
.iconLinkedinWhite:hover{
	content: url('../img/socials/linkedinWhite.svg');
}
.iconYoutubeWhite:hover{
	content: url('../img/socials/youtubeWhite.svg');
}
.iconMailWhite:hover{
	content: url('../img/socials/mailWhite.svg');
}
.iconPhoneWhite:hover{
	content: url('../img/socials/phoneWhite.svg');
}
.iconTextWhite:hover{
	content: url('../img/socials/textWhite.svg');
}

.downArrow{
	opacity: 0;
	animation: downArrowAnim 2s 1;
	animation-delay: 8.4s;
	animation-fill-mode: forwards;
	width: 45px;
}
.downArrow:hover{
	content: url('../img/socials/downHov.svg');
}

@keyframes downArrowAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*socials animation*/
@keyframes socialAnim1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*LINE ANIMATION*/
.lineAnim{
	width: 97%; 
	text-align: center; 
	border-color: rgba(202, 202, 202, 0.5);
	animation: lineAnim 5s 1;
	animation-delay: 5s;
	width: 0%;
	animation-fill-mode: forwards;
}
@keyframes lineAnim {
	0% {
		width: 0%
	}



	

	100% {
		width: 97%;
	}
}
/* Hover */
.textSubAnim1:hover {
	color: rgb(66, 255, 255);
}
/*top text animation*/
.textSubAnim1{
	opacity: 0;
	animation: textSubAnim1 4s 1;
	animation-delay: 8s;
	animation-fill-mode: forwards;
}
@keyframes textSubAnim1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.textFooter:hover{
	color: rgb(90, 87, 243);
}
.textFooter{
	color: rgb(75, 75, 75);
	margin-right: 10px;
}
.textGmail{
	color: rgb(175, 175, 175);
}
.textGmail:hover{
	color: rgb(66, 255, 255);
}
.textCall{
	color: rgb(175, 175, 175);
}
.textCall:hover{
	color: rgb(66, 255, 255);
}
/*main text animation*/

.textMainAnim1 {
	color: transparent;
	position: relative;
	animation: textMainAnim1 4s 1;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}
.textMainAnim2 {
	color: transparent;
    animation: textMainAnim2 5s 1;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}


@keyframes textMainAnim1 {
	0% {
		color: black;
		margin-bottom: -40px;
	}

	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}

	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
	100%{
		color: white;
	}
}
@keyframes textMainAnim2 {
	0%{
		color: transparent;
	}
	70% {
		color: transparent;
	}
	90% {
		color: rgb(223, 223, 223);
	}
	100%{
		color: rgb(223, 223, 223);
	}
}


.hover-outer-box {
	position: relative;
	display: flex;
	align-content: stretch;
	align-items: stretch;
}

.hover-outer-box .hover-inner-box {
	background: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	padding: 0;
	transition: opacity .5s;
	color: #fff;
	display: flex;
	align-items: center;
}

.hover-outer-box:hover .hover-inner-box {
	opacity: .9;
	transition: opacity .5s;
}

.hover-outer-box .hover-inner-box .hover-content{
	text-align: center;
	width: 100%;
	padding: 1rem;
}


/* Serivces */

.services .icon-row {
	padding: 30px 0;
}

.services .icon {
	max-width: 64px;
}

.services .icon-column {
	padding: 0 10px;
}

/* cta */


.cta {
	background-color: #000;
	padding: 60px 0;
	color: #fff;
}


.cta .display {
	margin-top: -100px;
}

/* blurbs */

.blurbs .icon {
	max-width: 64px;
}

.blurbs h3 {
	margin-bottom: 1rem;
}


/* newsletter */

.newsletter{
	background-color: #eee;
	padding: 60px 0;
}

.newsletter h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}



.newsletter form{
	align-content: center;
}

.newsletter input {
	width: 150px;
	margin-right: 1rem;
	background-color: #fff;
}


/* contact */


.contact .col-md {
	padding: 1rem;
}

/* forms */

input, textarea {
	background-color: #eee;
	width: 100%;
	padding: 1rem;
	border: 0;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: ease;

}

[type="button"]:hover, [type="reset"]:hover, [type="submit"]:hover {
	-webkit-appearance: button;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

/* footer */

footer {
	background-color: #eee;
	padding: 5rem 0;
}


footer ul{
	padding: 0;
}

footer li {
	list-style: none;
}


footer li a{
	padding: 0;
	color: #000;
	text-decoration: none;
}


.secondary-footer {
	background-color: #e1e0e0;
	padding: 0.5rem;
	margin: 0 auto;
}

.secondary-footer p{
	margin: 0;
	font-size: 0.8rem;
	margin-top: 5px;
}

.secondary-footer a{
	text-decoration:  none;
	color: #000;
}



/* Mediaqueries */

@media (max-width: 1280px) {
	.navigation-bar .logo{
		margin:  0 auto;
	}
	.navigation-bar nav{
		display: none;
	}

	.row {
		margin: 0 auto;
		padding-left: 1rem; 
		padding-right: 1rem; 
	}

	.cta .display {
		margin-top: 1rem;
	}
}


/* animation  */
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*This is for our terminal text animation*/
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:1000px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:40%;
  left:0;
  right:0;
  margin:auto;

  animation: consoleAnim 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes consoleAnim {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}