html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-size: 1.0em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*
	color: rgb(61, 61, 61); 
	*/
	color: rgb(73, 73, 73);
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	/*background: -webkit-repeating-linear-gradient(rgb(145, 145, 145), rgba(0, 0, 0));*/

	/*
		color: rgb(61, 61, 61); 
	background-color: rgb(226, 226, 226);
	*/
}


testing123 {
	background: rgba(0, 0, 0, 0.9);
}

.lineAcross {
	height: 20px;
	border: none;
	color: rgba(0, 0, 0, .205);
	background-color:rgba(0, 0, 0, 0.205);
	margin-bottom: 0px;
	background: -webkit-repeating-linear-gradient(rgba(255, 255, 255, 0.3), rgba(151, 151, 151, 0.205));
}
.lineAcross2 {
	height: 20px;
	border: none;
	color: rgba(0, 0, 0, .205);
	background-color:rgba(0, 0, 0, 0.205);
	margin-top: 0px;
    background: -webkit-repeating-linear-gradient(rgba(151, 151, 151, 0.205), rgba(255, 255, 255, 0.3));
}
.lineAcross3 {
	height: 20px;
	border: none;
	color: rgba(0, 0, 0, .205);
	background-color:rgba(0, 0, 0, 0.205);
	margin-top: 0px;
    background: -webkit-repeating-linear-gradient(rgba(58, 58, 58, 0.562), rgba(255, 255, 255, 1));
}

/*navigation*/
#about-me{
	padding: 25px; /*padding 20px looks best when we scroll to the #'s*/
	background-color: rgb(255, 255, 255);

	/*
	background-color: rgb(13, 13, 13);
	background: -webkit-repeating-linear-gradient(rgba(0,0,0, 0.95), rgba(0,0,0, 0.9));
	color: #2D9687;
	color: #C22085;
	*/
	/*color: rgb(177, 177, 177);*/

}
#projects{
	padding: 25px;
	background-color: rgb(245, 245, 245);
}
#resume{
	padding: 20px;
	background: -webkit-repeating-linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
}

#contact{
	padding: 20px;
	background: black
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 350; 
}
h1 { font-size: 2.0rem; line-height: 1.2; }
h2 { font-size: 1.8rem; line-height: 1.25;}
h3 { font-size: 1.6rem; line-height: 1.3;}
h4 { font-size: 1.4rem; line-height: 1.35;}
h5 { font-size: 1.2rem; line-height: 1.5;}
h6 { font-size: 1.0rem; line-height: 1.6;}


p {
	margin-top: 0; 
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #1EAEDB; 
}
a:hover {
	color: #0FA0CE; 
}

img {
	width: 100%;
	height: auto;
}

section {
	margin: 10rem auto;
}

button {
	background-color: #000;
	border: none;
	border-radius: 3px;
	color: #fff;
	height: auto;
	padding: 8px 37px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: all 0.5s ease;
	cursor: pointer;
	font-size: 0.8rem;
}


button:hover, button:focus {
	background-color: #fff;
	color: #000;
}

button.light {
	background-color: #fff;
	color: #000;
}

button.light:hover, button.light:focus {
	background-color: #000;
	color: #fff;
}

.margin-bottom {
	margin-bottom: 5rem;
}

.margin-bottom-small {
	margin-bottom: 1rem;
}

.padding-small {
	padding: 1rem;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
}

.section-title {
	margin-bottom: 70px;
	/*text-transform: uppercase;*/
}


.flex {display: flex;}


.navigation-bar {
	position: absolute;
	z-index: 999;
	width: 100%;
}

.navigation-bar .logo{
	max-width: 30px;
	display: inline-block;
	padding: 1rem;
}
.navigation-bar .active{
	color: #1EAEDB;
}
.active{
	color:rgb(66, 255, 255)
}

.navigation-bar nav{
	display: inline-block;
	width: 100%;
}


.navigation-bar nav ul li{
	display: inline-block;
}

.navigation-bar nav a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-right: 1rem;
}


.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-color: rgba(0,0,0,1);
	color: rgb(255, 255, 255); /* was white */
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .7)), url('../img/frontpic2.JPG');
}
@keyframes heroImgAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero h1 {
	margin: 0;
	opacity: .9;
}


.hero-text {
	padding: 0px; 
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.hero-text p {
	margin: 0;
	opacity: .7;
}

.highlight {
	font-style: italic;
}

.author {
	font-size: 0.8rem; 
}

.team .team-name {
	text-align: center;
}

.team .team-name .position{
	opacity: .7;
}

.team .team-icon {
	max-width: 16px;
}

/*SOCIALS*/
.iconGit{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
.iconGit:hover{
    content: url('../img/socials/githubHov.svg');
}
.iconLinked{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 3.1s;
	animation-fill-mode: forwards;
}
.iconLinked:hover{
    content: url('../img/socials/linkedinHov.svg');
}
.iconYoutube{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 3.2s;
	animation-fill-mode: forwards;
}
.iconYoutube:hover{
    content: url('../img/socials/youtubeHov.svg');
}
.iconMail{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 3.3s;
	animation-fill-mode: forwards;
}
.iconMail:hover{
    content: url('../img/socials/mailHov.svg');
}
.iconPhone{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 3.4s;
	animation-fill-mode: forwards;
}
.iconPhone:hover{
    content: url('../img/socials/phoneHov.svg');
}
.iconText{
	opacity: 0;
	animation: socialAnim1 2s 1;
	animation-delay: 3.5s;
	animation-fill-mode: forwards;
}
.iconText:hover{
	content: url('../img/socials/textHov.svg');
}

.iconGitWhite:hover{
	content: url('../img/socials/githubWhite.svg');
}
.iconLinkedinWhite:hover{
	content: url('../img/socials/linkedinWhite.svg');
}
.iconYoutubeWhite:hover{
	content: url('../img/socials/youtubeWhite.svg');
}
.iconMailWhite:hover{
	content: url('../img/socials/mailWhite.svg');
}
.iconPhoneWhite:hover{
	content: url('../img/socials/phoneWhite.svg');
}
.iconTextWhite:hover{
	content: url('../img/socials/textWhite.svg');
}

.downArrow{
	opacity: 0;
	animation: downArrowAnim 2s 1;
	animation-delay: 3.4s;
	animation-fill-mode: forwards;
	width: 45px;
}
.downArrow:hover{
	content: url('../img/socials/downHov.svg');
}

@keyframes downArrowAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*socials animation*/
@keyframes socialAnim1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*LINE ANIMATION*/
.lineAnim{
	width: 97%; 
	text-align: center; 
	border-color: rgba(202, 202, 202, 0.5);
	animation: lineAnim 5s 1;
	animation-delay: 0s;
	width: 0%;
	animation-fill-mode: forwards;
}
@keyframes lineAnim {
	0% {
		width: 0%
	}



	

	100% {
		width: 97%;
	}
}
/* Hover */
.textSubAnim1:hover {
	color: rgb(66, 255, 255);
}
/*top text animation*/
.textSubAnim1{
	opacity: 0;
	animation: textSubAnim1 4s 1;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
@keyframes textSubAnim1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.textFooter:hover{
	color: rgb(90, 87, 243);
}
.textFooter{
	color: rgb(75, 75, 75);
	margin-right: 10px;
}
.textGmail{
	color: rgb(175, 175, 175);
}
.textGmail:hover{
	color: rgb(66, 255, 255);
}
.textCall{
	color: rgb(175, 175, 175);
}
.textCall:hover{
	color: rgb(66, 255, 255);
}
/*main text animation*/

.textMainAnim1 {
	color: transparent;
	position: relative;
	animation: textMainAnim1 4s 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}
.textMainAnim2 {
	color: transparent;
    animation: textMainAnim2 5s 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}


@keyframes textMainAnim1 {
	0% {
		color: transparent;
		margin-bottom: -40px;
	}

	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}

	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
	100%{
		color: transparent;
	}
}
@keyframes textMainAnim2 {
	0%{
		color: transparent;
	}
	70% {
		color: transparent;
	}
	90% {
		color: rgb(223, 223, 223);
	}
	100%{
		color: rgb(223, 223, 223);
	}
}


.hover-outer-box {
	border-radius: 15%;
	position: relative;
	display: flex;
	align-content: stretch;
	align-items: stretch;
}

.hover-outer-box .hover-inner-box {
	border-radius: 15%;
	background: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	padding: 0;
	transition: opacity .5s;
	color: #fff;
	display: flex;
	align-items: center;
}

.hover-outer-box:hover .hover-inner-box {
	border-radius: 15%;
	opacity: .9;
	transition: opacity .5s;
}

.hover-outer-box .hover-inner-box .hover-content{
	border-radius: 15%;
	text-align: center;
	width: 100%;
	padding: 1rem;
}
.projectImage{
	border-radius: 15%;
}


/* Serivces */

.services .icon-row {
	padding: 30px 0;
}

.services .icon {
	max-width: 64px;
}

.services .icon-column {
	padding: 0 10px;
}

/* cta */


.cta {
	background-color: #000;
	padding: 60px 0;
	color: #fff;
}


.cta .display {
	margin-top: -100px;
}

/* blurbs */

.blurbs .icon {
	max-width: 64px;
}

.blurbs h3 {
	margin-bottom: 1rem;
}


/* newsletter */

.newsletter{
	background-color: #eee;
	padding: 60px 0;
}

.newsletter h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}



.newsletter form{
	align-content: center;
}

.newsletter input {
	width: 150px;
	margin-right: 1rem;
	background-color: #fff;
}


/* contact */


.contact .col-md {
	padding: 1rem;
}

/* forms */

input, textarea {
	background-color: #eee;
	width: 100%;
	padding: 1rem;
	border: 0;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: ease;

}

[type="button"]:hover, [type="reset"]:hover, [type="submit"]:hover {
	-webkit-appearance: button;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	background-color: #fff;
	color: #000;
}

/* footer */

footer {
	background-color: #eee;
	padding: 5rem 0;
}


footer ul{
	padding: 0;
}

footer li {
	list-style: none;
}


footer li a{
	padding: 0;
	color: #000;
	text-decoration: none;
}


.secondary-footer {
	background-color: #050505;
	padding: 0.5rem;
	margin: 0 auto;
}

.secondary-footer p{
	margin: 0;
	font-size: 0.8rem;
	margin-top: 5px;
}

.secondary-footer a{
	text-decoration:  none;
	color: rgb(77, 77, 77);
}



/* Mediaqueries */

@media (max-width: 1280px) {
	.navigation-bar .logo{
		margin:  0 auto;
	}
	.navigation-bar nav{
		display: none;
	}

	.row {
		margin: 0 auto;
		padding-left: 1rem; 
		padding-right: 1rem; 
	}

	.cta .display {
		margin-top: 1rem;
	}
}


/* animation  */
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.resume{
	width: auto;
}


.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*This is for our terminal text animation*/
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Raleway;
  font-size:70px;
  letter-spacing: 5px;
  text-align: center;
  height:500px;
  width:800px;
  display:inline-flexbox;
  color:rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-47.5%, -26.5%);




  animation: consoleAnim1 4s 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  
}

@keyframes consoleAnim1 {
	0% {

		transform: translate(-47.5%, -22.5%);	
	}

	30% {
		transform: translate(-47.5%, -22.5%);
	}

	85% {
		transform: translate(-47.5%, -22.5%);

	}
	100%{

		color: rgb(255, 255, 255);
	}
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:0em;
  left:10px;
}

.textLink{
	color: rgb(73, 73, 73);
}
.textLink:hover{
	color: rgb(215, 81, 248);
}
/*FOR THE BAR CHART*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.body2 {
	margin: 20px 0 40px;
	font-family: "Open Sans", sans-serif;
	color: #949494;
}
 .skills {
	 width: 85%;
	 height: 50em;
	 margin: auto;
	 position: relative;
	 margin-bottom: 150px;
	 margin-top: 100px;
	 letter-spacing: 3px;
}
 .lines {
	 height: 100%;
	 position: relative;
	 list-style-type: none;
}
 .line {
	 height: inherit;
	 width: 1px;
	 position: absolute;
	 background: rgba(0, 0, 0, 0); /*color of lines*/
}
 .line.l--0 {
	 left: 0;
}
 .line.l--25 {
	 left: 25%;
}
 .line.l--50 {
	 left: 50%;
}
 .line.l--75 {
	 left: 75%;
}
 .line.l--100 {
	 left: calc(100% - 1px);
}
 .line__label {
	 display: block;
	 width: 100px;
	 text-align: center;
	 position: absolute;
	 bottom: -20px;
	 right: -50px; /*color of skill levels*/
	 color: #686868;
}
 .line__label.title {
	 text-transform: uppercase;
	 font-weight: bold;
	 list-style-type: none;
	 color: #757575; /*color of skill levels*/
	 width: 135px;
}
 .charts {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 10;
	 color: #d6d6d6; /*color of titles*/
}
 .chart:not(:first-child) {
	 margin-top: 0px;
}
 .chart__title {
	 display: block;
	 margin: 0 0 10px;

	 opacity: 0;
	 animation: 1s anim-lightspeed-in ease forwards;
}
 .chart--prod .chart__title {
	 animation-delay: 3.3s;
}
 .chart--design .chart__title {
	 animation-delay: 4.5s;
}
 .chart--horiz {
	 overflow: hidden;
}
 .chart__bar {
	 height: 27px;
	 margin-bottom: 10px;
	 margin-left: -2%;
	 background: linear-gradient(to left, rgb(35, 255, 64), rgb(63, 249, 255));
	 border-top-right-radius: 4px;
	 border-bottom-right-radius: 4px;
	 opacity: 0;
	 animation: 1s anim-lightspeed-in ease forwards;

}

 .chart--dev .chart__bar:nth-of-type(11) {
	 animation-delay: 2.7s;
}
 .chart--dev .chart__bar:nth-of-type(10) {
	 animation-delay: 2.5s;
}
 .chart--dev .chart__bar:nth-of-type(9) {
	 animation-delay: 2.3s;
}
 .chart--dev .chart__bar:nth-of-type(8) {
	 animation-delay: 2.1s;
}
 .chart--dev .chart__bar:nth-of-type(7) {
	 animation-delay: 1.9s;
}
 .chart--dev .chart__bar:nth-of-type(6) {
	 animation-delay: 1.7s;
}
 .chart--dev .chart__bar:nth-of-type(5) {
	 animation-delay: 1.5s;
}
 .chart--dev .chart__bar:nth-of-type(4) {
	 animation-delay: 1.3s;
}
 .chart--dev .chart__bar:nth-of-type(3) {
	 animation-delay: 1.1s;
}
 .chart--dev .chart__bar:nth-of-type(2) {
	 animation-delay: 0.9s;
}
 .chart--dev .chart__bar:nth-of-type(1) {
	 animation-delay: 0.7s;
}
 .chart--prod .chart__bar:nth-of-type(2) {
	 animation-delay: 4.2s;
}
 .chart--prod .chart__bar:nth-of-type(1) {
	 animation-delay: 4s;
}
 .chart--design .chart__bar:nth-of-type(4) {
	 animation-delay: 5.8s;
}
 .chart--design .chart__bar:nth-of-type(3) {
	 animation-delay: 5.6s;
}
 .chart--design .chart__bar:nth-of-type(2) {
	 animation-delay: 5.4s;
}
 .chart--design .chart__bar:nth-of-type(1) {
	 animation-delay: 5.2s;
}
 .chart__label {
	 padding-left: 10px;
	 line-height: 27px;
	 font-size: 15px;
	 color: rgb(36, 36, 36); /*color o things in bar*/
}
 @keyframes anim-lightspeed-in {
	 0% {
		 transform: translateX(-200%);
		 opacity: 1;
	}
	 100% {
		 transform: translateX(0);
		 opacity: 1;
	}
}

